* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: row wrap; /* Alles komt onder elkaar */
    color: #333;
    font-family: 'Source Sans Pro', sans-serif;
}

/* Pseudo-classes */
a:link {
    color: #333;
}

a:hover {
    color: #2c3e50;
}

a:visited {
    color: #333;
}

/* Child selector */
body>header {
    background-image: url("/img/cmd_foto.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    order: 1;
    text-align: left;
    padding: 4rem;
}

body>header>h1 {
    text-align: center;
    color: #fff;
    text-shadow: .025em .025em #333 /* Eerste waarde hoe ver naar links of naar rechts, tweede waarde afstand tot bovenkant of onderkant */
}

/* Adjecent selector */
body>header>h1+p {
    text-align: center;
    color: #fff;
    text-shadow: .05em .05em #333
}

body>header a:link {
    color: #fff;
    text-shadow: .05em .05em #333
}

body>header a:hover {
    color: #eef2f3;
    text-shadow: .05em .05em #333
}

body>header a:visited {
    color: #fff;
    text-shadow: .05em .05em #333
}

body>header label {
    color: #fff;
    text-shadow: .05em .05em #333
}

img[src$="img/cmd_logo.png"] {
    width: 12.5em;
}

nav>ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

nav>ul li {
    display: inline;
    margin-right: 1rem;
    text-shadow: .05em .05em #333
}

body>header>h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 5em;
}

main {
    order: 2;
    width: 75%;
    padding: 7.5rem;
}

/* Descendent selector */
main li:nth-child(1) {
    color: #16a085;
}

main li:nth-child(2) {
    color: #2980b9;
}

main li:nth-child(3) {
    color: #f39c12;
}

main li:nth-child(4) {
    color: #d35400;
}

main li:nth-child(5) {
    color: #c0392b;
}

img[src$="img/beroepen.jpg"] {
    width: 25em;
}

/* Class selector */
.related {
    width: 100%;
    order: 4;
    padding: 7.5rem;
    text-align: left;
}

.related>article {
    display: flex;
    flex-direction: row;
}

aside {
    background-color: #eef2f3;
    color: #9b9b9b;
    order: 3;
    width: 25%;
    padding: 2.5rem;
}

body>footer {
    background-color: #eef2f3;
    color: #9b9b9b;
    width: 100%;
    order: 5;
    padding: 5rem;
}

footer ul {
    list-style: none;
}

/* Id selector */
#sitemap {
    font-size: .75em;
}

#feedback {
    background-color: #333;
    border: .5rem solid #16a085;
    border-radius: .5rem / 10rem;
    color: #fff;
    padding: 1rem;
    height: 5em;
}

#feedback>a:link {
    color: #eef2f3;
}

#feedback>a:hover {
    color: #fff;
}

#feedback>a:visited {
    color: #eef2f3;
}

fieldset {
    border: 0; /* Zo zijn de lijntjes niet zichtbaar */
    border-radius: .25rem;
    box-shadow: .05em .05em .1em #333;
    padding: 1rem;
}

legend {
    position: static;
}

input {
    width: 100%;
    font-size: 1.25em;
    border-radius: .25rem;
    box-shadow: .05em .05em .1em #333; /* Horizontaal, verticaal, blur */
    border: none;
    -webkit-transition: 1s; /* Safari 3.1 tot 6.0 */
    transition: 1s;
    margin: .25rem;
    padding: .25rem;
}

input:focus {
    -ms-transform: rotate(10deg); /* IE 9 */
    -webkit-transform: rotate(10deg); /* Chrome, Safari, Opera */
    transform: rotate(10deg);
    -ms-transform: skew(-5deg, -10deg); /* IE 9 */
    -webkit-transform: skew(-5deg, -10deg); /* Chrome, Safari, Opera */
    transform: skew(-5deg, -10deg);
}

input[type="radio"] {
    box-shadow: none;
}

input[type="checkbox"] {
    box-shadow: none;
}

section>ul {
    list-style: none;
}

/* Medium schermen */
@media only screen and (max-width: 800px) {
    body {
     font-size: 90%;
    }
    body>header {
        text-align: center;
    }
    nav>ul {
        list-style: none;
        display: flex;
        justify-content: space-around;
    }
    main {
        padding: 3rem;
        width: 66%;
    }
    img[src$="img/beroepen.jpg"] {
        width: 90%;
    }
    .related {
        padding: 5rem;
    }
    .related>article {
        flex-direction: column;
    }
    aside {
        padding: 1rem;
        width: 33%;
    }
    body>footer {
        padding: 5rem;
    }
}

/* Kleine schermen */
@media only screen and (max-width: 600px) {
    body {
        flex-direction: column; /* Alles komt onder elkaar */
        font-size: 90%;
    }
    body>header {
        text-align: center;
    }
    body>header>h1 {
        text-align: center;
        font-size: 3.5em;
}
    nav>ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    main {
        width: 100%;
        padding: 2.5rem;
    }
    .related {
        width: 100%;
        padding: 2.5rem;
    }
    aside {
        width: 100%;
        padding: 2.5rem;
    }
    body>footer {
        padding: 2.5rem;
    }
    #feedback {
        height: 4em;
    }
    #sitemap {
        display: none;
    }
}
